<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Produtos</title>
  <%- include('../../imports'); -%>
</head>
<body>
  <%- include('../../navbar'); -%>
  <div class="container">
    <div class="row">
        <h1>Listagem de Produtos</h1>
    </div>

    <div class="row mb-2">
        <a href="/admin/posts" class="btn btn-success">Lista Produto</a>
    </div>

    <div class="row">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Preço</th>
                <th scope="col">Foto</th> 
              </tr>
            </thead>
            <tbody>
              <% produtos.forEach((produto) => { %>
                <tr>
                  <td><%= produto.id %></td>
                  <td><%= produto.title %></td>
                </tr>
              <% }); %>
              
            </tbody>
          </table>
    </div>
  </div>
</body>
</html>